/* BOOT */

*, *:before, *:after
{
    margin: 0;
    padding: 0;
    outline: 0;    
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;    
    line-height: 1.2;
    letter-spacing: 0em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;   
}

body
{
    background-color: #fbfbfb;
}

h1, h2, h3, h4
{
    font-size: 2em;
    font-weight: 300;
}

p
{
    margin-bottom: 3%;
}

p:last-child
{
    margin-bottom: 0;
}

b, strong
{
    font-weight: bold;
}

ul, ol
{
    list-style: none;
}

img
{
    border: none; 
    max-width: 100%;
    vertical-align: middle;
}

a
{
    border: none;
    text-decoration: none;
    color: #816796;
}

a:hover
{
    color: #f3f3f3;
}

/* /BOOT */

/* FORM */  

label
{
    display: block;
    margin-bottom: 2%;
}

input, textarea, select
{
    padding: 0.5em;
    border: 0.1em solid #ccc;
    width: 100%;
    color: #555;
}

input[type='submit'], input[type='reset'], button
{
    width: auto;
    margin: 0 3% 0 0;
}

.form-subtitle
{
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 2%;
    padding-bottom: 0.5em;
    border-bottom: 0.01em #555 dotted;
}

.form-label
{
    display: block;
    margin-bottom: 1.5%;
    font-size: 1.1em;
}

.form-div input
{
    float: left;
    width: auto;
    margin: 0.2% 3% 0 0;
    cursor: pointer;
}

.form-div label
{
    display: inline-block;
    margin-right: 6%;
    padding: 4em 3em 2em 3em;
    background: #fbfbfb;
    cursor: pointer;
}

.form-div label:hover
{
    background: #fff;
}

.form-div .form-label
{
    margin-bottom: 3%;
}

/* /FORM */

/* BACKGROUND */

.bg-default
{
    background-color: #FBFBFB !important;
    color: #816796 !important;
}

.bg-gray
{
    background-color: #444 !important; 
    color: #ddd !important;
}

.bg-gray-light
{
    background-color: #DDD !important;
    color: #816796 !important;
}

.bg-gray-lightest
{
    background-color: #f2f2f2 !important;
    color: #816796 !important;
}

.bg-dark
{
    background-color: rgb(69,72,77) !important;
    background-color: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%) !important;
    background-color: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%) !important;
}

.bg-purple
{
    background-color: #816796 !important;
}

.bg-purple-light
{
    background-color: #9690B9 !important;
}

.bg-skin
{
    background-color: #F5D0A9 !important;
    color: #FFF !important;
}

.bg-blue
{
    background-color: #1c4b86 !important;
    color: #FFF !important;
}

.bg-blue-light
{
    background-color: #CAEBF5 !important;
    color: #535353 !important;
}

.bg-blue-marine
{
    background-color: #9EC3D6 !important;
    color: #535353 !important;
}

.bg-green
{
    background-color: #558D66 !important;
    color: #f2f2f2 !important;
}

.bg-green-light
{
    background-color: #D7F1E4 !important;
    color: #816796 !important;
}

.bg-orange
{
    background-color: #ffe6cc !important;
    color: #816796 !important;
}

.bg-pink
{
    background-color: #F8D3DA !important;
    color: #816796 !important;
}

.bg-map
{
    background: url(../img/map.png) center center no-repeat;
}

/* /BACKGROUND */

/* BORDER */

.border-gray
{
    border: 0.05em solid #444 !important;
}

.border-green
{
    border: 0.05em solid #a1af72 !important;
}

/* /BORDER */

/* LISTA */

.disc
{
    list-style-type: disc !important;   
    margin-bottom: 2%;
}

/* /LISTA */

/* FONT WEIGHT */

.font-100
{
    font-weight: 100 !important;
}

.font-300
{
    font-weight: 300 !important;
}

.font-400
{
    font-weight: 400 !important;
}

.font-700
{
    font-weight: 700 !important;
}

/* /FONT WEIGHT */

/* FONT SIZE */

.font-zero
{
    font-size: 0em !important;
}

.font-small
{
    font-size: 1em !important;
}

.font-small-b
{
    font-size: 1em !important;
    font-weight: bold !important;
}

.font-medium
{
    font-size: 2em !important;
}

.font-medium-b
{
    font-size: 2em !important;
    font-weight: bold !important;
}

.font-large
{
    font-size: 3em !important;
}

.font-large-b
{
    font-size: 3em !important;
    font-weight: bold !important;
}

.font-color-purple
{
    color: #816796 !important;
}

.font-color-gray-light
{
    color: #f4f4f4 !important;
}

/* FONT SIZE */

/* FONT ALIGN */

.txt-left
{
    text-align: left !important;
}

.txt-right
{
    text-align: right !important;
}

.txt-center
{
    text-align: center !important;
}

.txt-justify
{
    text-align: justify !important;
}

/* /FONT ALIGN */

/* FONT STYLE */

.txt-shadow
{
    text-shadow: 0.01em 0.01em 0 #ccc;
}

/* /FONT STYLE */

/* CONTAINER */

.container
{
    float: left;
    width: 100%;
}

.content
{
    width: 80%;
    margin: 0 10%;
    padding: 1em;
}

.content-page
{
    padding: 1.3em 0;
}

.section-title
{
    float: left;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    color: #816796;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4
{
    font-size: 2.4em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.section-title p
{
    text-align: justify;
}

.section-title .tagline
{
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1em;
}

.article-title
{
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

.article-title h1, .article-title h2, .article-title h3, .article-title h4
{
    font-size: 1.8em;
    margin-bottom: 2%;
}

.article-title .tagline
{
    font-size: 1.1em;
}

/* /CONTAINER */

/* FLOAT */

.ft-left
{
    float: left !important;
}

.ft-right
{
    float: right !important;
}

.ft-none
{
    float: none !important;
}

.ft-center
{
    display: flex;
    justify-content: center;
}

/* /FLOAT/ */

/* MARGIN */

margin-bottom
{
    margin-bottom: 3% !important;
}

.margin-none
{
    margin: 0 !important;
}

/* /MARGIN */

/* PADDING */

.padding-none
{
    padding: 0 !important;
}

.padding-bottom-none
{
    padding-bottom: 0 !important;
}

.padding-bottom
{
    padding-bottom: 1.5em !important ;
}

/* /PADDING */

/* DISPLAY */

.ds-block
{
    display: block;
}

.ds-inblock
{
    display: inline-block;
}

.ds-inline
{
    display: inline;
}

.ds-none
{
    display: none;
}

/* /DISPLAY */

/* HELPER */

.clear
{
    clear: both;
}

.last
{
    margin-right: 0 !important;
}

.radius
{
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.round
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.shadow
{
    -webkit-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.3);
}

/* /HELPER */

/* BOX */

.box
{
    width: auto;
    float: left;
}

.box-tiny
{
    width: 18%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.box-tiny:nth-of-type(5n)
{
    margin-right: 0;
}

.box-small
{
    width: 22.75%;
    margin-right: 3%;
}

.box-small:nth-child(5n+0)
{
    margin-right: 0;
}

.box-medium
{
    width: 30%;
    margin-right: 5%;
}

.box-medium:nth-child(3n+1)
{
    margin-right: 0;
}

.box-large
{
    width: 46.5%;
    margin-right: 7%;
    margin-bottom: 3%;
}

.box-large:nth-child(2n+1)
{
    margin-right: 0;
}

.box-extra-large
{
    width: 58%;
}

.box-three
{
    width: 56%;
}

.box-three-last
{
    width: 40%;
}

.box-three-last li
{
    margin-bottom: 0.2em;
}

.box-four
{
    width: 77%;
}

.box-four-last
{
    width: 20%;
}

.box-three-last strong
{
    color: #ddd;
}

/* /BOX */

/* VIDEO */

.vga
{
    width: 100%;
    margin: 0;
}

.vga-small
{
    width: 40%;
    margin: 0 30%;
}

.vga-medium
{
    width: 60%;
    margin: 0 20%;
}

.vga-large
{
    width: 80%;
    margin: 0 10%;
}

.vga-full
{
    width: 100%;
    margin: 0;
}

/* /VIDEO */

/* BUTTOM */

.btn
{
    display: in-block;
    padding: 0.6em 1.8em;
    background: #333;
    border: 0.01em solid #222;
    cursor: pointer;    
    font-size: 1em;
    font-weight: 400;
    color: #fff;    
    -webkit-box-shadow: inset 0 0.01em 0 rgba(255, 255, 255, 0.2), 0 0.01em 0.02em rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 0.01em 0 rgba(255, 255, 255, 0.2), 0 0.01em 0.02em rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0.01em 0 rgba(255, 255, 255, 0.2), 0 0.01em 0.02em rgba(0, 0, 0, 0.05);
}

.btn-big
{
    font-size: 1.5em;
    padding: 0.3em 1.5em;
}

.btn:hover
{
    color: #fff !important;
}

.btn-large
{
    font-size: 1.8em;
    padding: 1em 1.5em;
}

.btn-blue
{
    background-color: #42c5c5;
    border-color: #309191;
}

.btn-blue:hover
{
    background-color: #309191;
    border-color: #287777 !important;
}

.btn-green
{
    background-color: #1f9332; 
    border-color: #1a7c2a;
}

.btn-green:hover
{
    background-color: #1a7c2a;
    border-color: #0f4919 !important;
}

.btn-red
{
    background-color: #d74141;
    border-color: #a33131;
}

.btn-red:hover
{
    background-color: #a33131;
    border-color: #892929 !important;
}

.btn-yellow
{
    background-color: #c4b936;
    border-color: #aaa12f;
}

.btn-yellow:hover
{
    background-color: #aaa12f;
    border-color: #918928 !important;
}

/* /BUTTOM */

/* ALERT */

.msg
{
    float: left;
    width: 100%;
    display: in-block;
    padding: 1em;
    margin-bottom: 2%;    
    font-size: 1.2em;
    font-weight: 300;
}

.msg-error
{
    background: #eaa3a3;
    border: 0.01px solid #722e2e;    
    color: #722e2e;
}

.msg-success
{
    background: #b7f2b4;
    border: 0.01px solid #1c4f1c;
    color: #1c4f1c;
}

.msg-info
{
    background: #1690e0;
    border: 0.01px solid #093e60;
    color: #093e60;
}

.msg-alert
{
    background: #deed64;
    border: 0.01px solid #7c8437;
    color: #7c8437;
}
/* /ALERT */

/* LOADING */

.modal 
{
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); 
    background: rgba(0,0,0,0.4) url(boot/gifs/loading.gif) 50% 50% no-repeat;
}

body.loading 
{
    overflow: hidden;   
}

body.loading .modal 
{
    display: block;
}

/* /LOADING */

/* ICON */

.icon
{
    padding-left: 1.5em;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.icon-subtitle
{
    padding-left: 1.5em;
}

.icon-facebook
{
    background-image: url(boot/social/facebook.png);
}

.icon-google
{
    background-image: url(boot/social/google.png);
}

.icon-twitter
{
    background-image: url(boot/social/twitter.png);
}

.icon-instagram
{
    background-image: url(boot/social/instagram.png);
}

.icon-linkedin
{
    background-image: url(boot/social/linkedin.png);
}

.icon-youtube
{
    background-image: url(boot/social/youtube.png);
}

.icon-mail
{
    background-image: url(boot/icons/mail.png);
}

.icon-contact
{
    background-image: url(boot/icons/contact.png);
}


.icon-whatsapp
{
    background-image: url(boot/icons/whatsapp.png);
}

.icon-phone
{
    background-image: url(boot/icons/phone.png);
}

.icon-arrowdown
{
    background-image: url(boot/icons/arrowdown.png);
}


/* /ICON */
