/* LOGO */
.main_logo
{
    position: relative;
    width: 20%;
}

.main_logo a
{
    float: left;
    height: calc(100vh - 90vh);
    width: calc(100vw - 90vw);
    background: url(boot/icons/logo.png) center center no-repeat;
    background-size: 100% 100%;
}

/* /LOGO */

/* NAV-BAR */

.main_nav
{
    padding: 1%;
    width: auto;
    background-color: #816796;
    overflow: hidden;
    border-radius: 15em 1.5em 1.5em 1.5em;
}

.main_nav li
{
    float: left;
}

.main_nav a
{   
    color: #f2f2f2;
    font-weight: 300;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 0.5em;
}

.main_nav a:hover
{
    background-color: rgba(0, 0, 0, 0.15);
}

/* /NAV-BAR */

/* FOOTER */

.main_footer
{
    color: #999999;
}

.main_footer .title
{
    border-bottom: 0.1em solid #666666;
    text-transform: uppercase;
    margin-bottom: 2%;
    padding-bottom: 0.5em;
    font-weight: 400;
}

.main_footer li
{
    margin-bottom: 1%;
    padding: 0.1em 0;
}

.main_footer a
{
    color: #999999;
}

.main_footer a:hover
{
    color: #fff;
}

.iframe_footer
{
    width: 100%;
    height: calc(100vh - 85vh);
}

.rights
{
    margin-top: 10px;
    border-top: 0.2em solid #8D74D7;
}

/* /FOOTER */

/* VIDEO */

.main_video
{
    margin-bottom: 2%;
    box-shadow: 0 0.8em 0.5em -0.3em gray;
    max-width: 1300px;   
}

.not_found article
{
    cursor: pointer;
}

.main_media h1, .main_media h2, .main_media h3, .main_media h4,
.not_found h1, .not_found h2, .not_found h3, .not_found h4
{
    margin-bottom: 3%;
}

.main_media .box, .not_found .box
{
    margin-bottom: 3%;
}

.main_media .media-title, .not_found .media-title
{
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
}

.main_media .thumb, .main_video .thumb
{
    float: left;
    position: relative;
    margin-bottom: 1%;    
    cursor: pointer;    
}

.main_media .video_play
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.08);
    border: 0.05em solid #a8bcb2;
}

.main_media .video_play:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}

#videos .box:hover
{    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

/* /VIDEO */

/* SERVIÇOS */

.main_service
{
    padding: 3%;
}

.main_service img
{
    width: 100%;
    background: #eee;
    margin: 1%;
    border: 0.1em solid #bbb;
}

.main_service h1, .main_service h2, .main_service h3, .main_service h4
{
    font-size: 1.5em;
}


.main_service .tagline
{
    min-height: 5em;
}


.main_service:nth-last-of-type(4n+1)
{
    margin-right: 0;
}

.more
{
    display: table;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    width: auto;
    background-color: #9690B9;
    border-radius: 0.3em;
    padding: 0.8em;
    color: #f4f4f4;
    text-align: center;
}

.more:hover
{
    background-color: #816796;
}

/* /SERVIÇOS */

/* 404 */

.related_item
{
    text-align: center;
}

.related_item h1, .related_item h2, .related_item h3, .related_item h4
{
    margin: 3% 0;
    font-size: 1.3em;
}

.related_item .tagline
{
    font-size: 1em;
    color: #555;
}

.related_item a:hover
{
    color: inherit;
}

/* /404 */

/* ABOUT */

.main_bus
{
    color: #816796;
}

.main_bus .tagline
{
    padding-bottom: 0;
}

.main_bus .title
{
    font-size: 1.8em;
}

.main_bus li
{
    margin-bottom: 2%;
}

.main_bus a
{
    color: #816796;
}

.main_bus a:hover
{
    color: #bbb;
}

.main_bus .box-three-last
{
    width: 40%;
}

.main_bus_person img
{
    width: 100%;
    margin: 1%;
}

.main_bus_person li
{
    margin: 1% 1% 0 0;
}

.main_bus_person li:last-child
{
    margin-right: 0;
}

.main_bus_person a
{
    padding: 0.5em;
    background: #fff;
    color: #1c4b86;
}

.main_bus_person .tagline
{
    margin-top: 2%;
}

.main_bus_alt img
{
    width: 50%;
    margin-bottom: 4%;
}
.main_bus_alt h1, .main_bus_alt h2, .main_bus_alt h3, .main_bus_alt h4
{
    margin-bottom: 4%;
}


.main_bus_alt .tagline
{
    margin-bottom: 3%;
}

.main_bus_alt:nth-child(1n+0)
{
    margin-right: 5%;
}

.main_bus_alt:nth-child(3n+0)
{
    margin-right: 0%;
}

.f:hover
{
    background-color: #3B5998;
    color: #fff;
}

.m:hover
{
    background-color: #0078D7;
    color: #fff;
}

.t:hover
{
    background-color: #1DA1F2;
    color: #fff;
}

.l:hover
{
    background-color: #0077B5;
    color: #fff;
}

.i:hover
{
    background-color: #DE386A;
    color: #fff;
}

.y:hover
{
    background-color: #DB4437;
    color: #fff; 
}

.ta:hover
{
    background-color: #009B4F;
    color: #fff;
}

.ce:hover
{
    background-color: #d8a9d3;
    color: #fff;
}

/* /ABOUT */

/* SERVIÇOS */

.service
{
    cursor: pointer;
    margin-bottom: 4%;
}

.service:nth-child(5n+1)
{
    margin-right: 0;
}

.service img
{
    opacity: 0.3;
    filter: alpha(opacity=30);
}


.service h1, .service h2, .service h3, .service h4
{
    font-size: 1.3em;
}

.service:not(.active):hover
{ 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.service:hover img
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.service .content
{
    padding: 0;
}

.service_modal
{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal_content
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 0.2em solid #888;
    width: auto;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    z-index: 2;
    border-radius: 0.8em;
    cursor: default;
}

.modal_content ul
{
    padding: 0 0.5em 0.5em 2em;
    margin-top: 1%;
}

.modal_content ul:last-child
{
    padding-bottom: 0;
}

.modal_content p
{
    padding: 0.5em;
    margin: 0;
}

.modal_content:nth-child(2n+0)
{
    padding-bottom: 0.5em;
}

.modal_img, .modal_video
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 0.1em solid #888;
    z-index: 2;
    overflow-y: auto;
    width: 70%;
    border-radius: 1em;
}

.modal_video
{
    width: 80%;
    border-radius: 0.5em;

}

.modal_video video
{
    border-radius: 0.5em;
    vertical-align: middle;
}

.modal_img .ps-current
{
    margin-bottom: 0 !important;
}

.modal_img .fechar, .modal_video .fechar
{
    position: absolute;
    right: 0;
    top: 0;
    color: #9690B9;
    font-weight: bold;
    font-size: 3em;
    z-index: 5;
}

.modal_video .fechar
{
    font-size: 2em;
}

.fechar 
{
    position: relative;
    float: right;
    padding: 0.5em;
    color: #9690B9;
    font-weight: bold;
    font-size: 2em;
}

.fechar:hover, .fechar:focus 
{
    color: #816796;
    text-decoration: none;
    cursor: pointer;
}

.detail
{
    font-weight: 300;
    font-size: 1.4em;
    text-align: center;
}

/* /SERVIÇOS */

/* CONTATO */

.iframe_contato
{
    width: 100%;
    height: calc(100vh - 60vh);
}

/* /CONTATO */

/* IMAGENS */

#imagens .box:hover
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.img_title
{
    color: #816696;
    font-size: 1em;
}

.box-tiny .content
{
    padding: 0;
}

.box-tiny img
{
    cursor: pointer;
}

.paginacao
{
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

.paginacao li
{
    display: inline;
    padding: 0.3em 1em;
    border: 0.02em solid #816796;
    margin-right: -1px;
    cursor: pointer;
    border-radius: 0.1em;
    color: #816696;
}

.paginacao li:hover
{
    background: #9690B9;
    color: #fff;
}

.ativa
{
    background: #9690B9;
    color: #fff !important;
}

.mostrar
{
    width: 8%;
    color: #816696;
    padding: 0.2em;
}

.mostrar_label
{
    color: #816696;
    font-weight: 300;
}

/* /IMAGENS */

/* SOCIAL */

.box_social div
{
    float: left;
    margin: 0 1% 2% 0;
}

.box_social a
{
    border-radius: 0.3em;
}

.btn_fb
{
    background-color: #3B5998;
    border-color: #2d4475;
}

.btn_fb:hover
{
    background-color: #2d4475;
}

.btn_tw
{
    background-color: #1DA1F2;
    border-color: #0b81ca;
}

.btn_tw:hover
{
    background-color: #0b81ca;
}

.btn_gp
{
    background-color: #DB4437;
    border-color: #a8291e;
}

.btn_gp:hover
{
    background-color: #a8291e;
}


.btn_lk
{
    background-color: #0077B5;
    border-color: #00537f;
}

.btn_lk:hover
{
    background-color: #00537f;
}



/* /SOCIAL */